In [1]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import os

In [2]:
ASD = pd.read_csv('Autism_cleaned_data.csv', index_col=0)

In [3]:
ASD.head()

,A1,A2,A3,A4,A5,A6,A7,A8,A9,A10,Age_Mons,Qchat-10-Score,Sex,Ethnicity,Jaundice,Family_mem_with_ASD,Class/ASD Traits
0,0,0,0,0,0,0,1,1,0,1,28,3,f,middle eastern,yes,no,No
1,1,1,0,0,0,1,1,0,0,0,36,4,m,White European,yes,no,Yes
2,1,0,0,0,0,0,1,1,0,1,36,4,m,middle eastern,yes,no,Yes
3,1,1,1,1,1,1,1,1,1,1,24,10,m,Hispanic,no,no,Yes
4,1,1,0,1,1,1,1,1,1,1,20,9,f,White European,no,yes,Yes

In [5]:
# removing 'Qchat-10-Score'
ASD.drop('Qchat-10-Score', axis = 1, inplace = True)

In [6]:
ASD.head()

,A1,A2,A3,A4,A5,A6,A7,A8,A9,A10,Age_Mons,Sex,Ethnicity,Jaundice,Family_mem_with_ASD,Class/ASD Traits
0,0,0,0,0,0,0,1,1,0,1,28,f,middle eastern,yes,no,No
1,1,1,0,0,0,1,1,0,0,0,36,m,White European,yes,no,Yes
2,1,0,0,0,0,0,1,1,0,1,36,m,middle eastern,yes,no,Yes
3,1,1,1,1,1,1,1,1,1,1,24,m,Hispanic,no,no,Yes
4,1,1,0,1,1,1,1,1,1,1,20,f,White European,no,yes,Yes

In [8]:
from sklearn.preprocessing import MinMaxScaler , StandardScaler, LabelEncoder

In [10]:
le = LabelEncoder()
columns = ['Family_mem_with_ASD', 'Class/ASD Traits ', 'Sex', 'Jaundice']
for col in columns:
    ASD[col] = le.fit_transform(ASD[col])
ASD.dtypes

A1                      int64
A2                      int64
A3                      int64
A4                      int64
A5                      int64
A6                      int64
A7                      int64
A8                      int64
A9                      int64
A10                     int64
Age_Mons                int64
Sex                     int64
Ethnicity              object
Jaundice                int64
Family_mem_with_ASD     int64
Class/ASD Traits        int64
dtype: object

In [17]:
#For multiclass features 
ASD_final = pd.get_dummies(ASD, columns =['Ethnicity'], drop_first = True, prefix = "E")

In [19]:
ASD_final.head()

,A1,A2,A3,A4,A5,A6,A7,A8,A9,A10,...,E_Latino,E_Native Indian,E_Others,E_Pacifica,E_White European,E_asian,E_black,E_middle eastern,E_mixed,E_south asian
0,0,0,0,0,0,0,1,1,0,1,...,0,0,0,0,0,0,0,1,0,0
1,1,1,0,0,0,1,1,0,0,0,...,0,0,0,0,1,0,0,0,0,0
2,1,0,0,0,0,0,1,1,0,1,...,0,0,0,0,0,0,0,1,0,0
3,1,1,1,1,1,1,1,1,1,1,...,0,0,0,0,0,0,0,0,0,0
4,1,1,0,1,1,1,1,1,1,1,...,0,0,0,0,1,0,0,0,0,0

In [20]:
from sklearn.model_selection import train_test_split

In [22]:
X = ASD_final.drop(['Class/ASD Traits '], axis = 1)
y = ASD_final['Class/ASD Traits ']
x_train, x_test, y_train, y_test = train_test_split(X, y, test_size = 0.30, random_state = 7)

In [25]:
x_train.shape

(737, 24)

In [26]:
 x_test.shape

(317, 24)